<!doctype html>
<html>
<head>
  <title>Play Game</title>
</head>
<body>
<form action="/madlib">
    Give me a name: <input type="text" name="person">
    <br>
    Pick a color? <input type="text" name="color">
    <br>
    Pick a noun: <input type="text" name="noun">
    <br>
    Pick an adjective: <input type="text" name="adjective">
    <br>
    Pick some animals:
    <br>
    Cow<input type="checkbox" id="animal1" name="animal" value="cow">
    Kangaroo<input type="checkbox" id="animal2" name="animal" value="kangaroo">
    Lemur<input type="checkbox" id="animal3" name="animal" value="lemur">
    Bear<input type="checkbox" id="animal4" name="animal" value="bear">
    Rabbit<input type="checkbox" id="animal5" name="animal" value="rabbit">
    <br>
    <button type="submit">Submit</button>   
</form> 
</body>
</html>